.contact {
  height: 100vh;
  width: 100%;
  background: var(--bg-medium);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
}

.contact .container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact .container .title-container {
  height: 40%;
  padding-top: 150px;
}
.contact .container .title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: whitesmoke;
}

.contact .container .subTitle {
  font-weight: 600;
  color: var(--high-light);
}

.contact-form {
  height: 65%;
  max-width: 1200px;
  padding: 15px 0;
  margin: 0;
  margin-bottom: 120px;
  box-sizing: border-box;
  background: var(--yellow);
  border-radius: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Encode Sans", sans-serif;
  font-weight: 600;
}

.form-group {
  width: 100%;
  margin-top: 15px;
  font-size: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 6px;
  font-size: 18px;
  border: none;
  margin-top: 5px;
  border-radius: 8px;
}

textarea {
  resize: none;
}

button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  background: whitesmoke;
  margin-top: 5px;
  padding: 10px;
  font-size: 24px;
  border-radius: 8px;
  font-weight: 600;
  color: var(--high-light);
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 860px) {
  .contact {
    height: auto;
  }
  .contact-form {
    margin-top: 50px;
  }
  .contact-form .form-group {
    font-size: 16px;
    margin: 5px auto 5px 20px;
    width: 80%;
  }

  button[type="submit"] {
    font-size: 16px;
    width: 80%;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
